* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* === COLORS === */
    --color-1: rgb(174, 226, 248);
    --color-2: rgb(139, 155, 249);
    --color-3: rgb(118, 132, 209);
    --color-4: rgb(79, 86, 127);
}

body {
    background-color: var(--color-1);
    padding-top: 100px;
    font-family: "Poppins", sans-serif;
}

/* Header */

.container-header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-header img {
    width: 70px;
    height: auto;
}


/* Title */

.title {
    padding-left: 15px;
    font-size: 20px;
    color: var(--color-4);
    list-style-type: none;
    letter-spacing: 1px;
    font-weight: 700;
}

/* Daftar User */

.container-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.container-register {
    background-color: var(--color-3);
    box-sizing: border-box;
    border: none;
    border-radius: 30px;
    padding: 20px;
    width: 600px;
    height: auto;
    box-shadow: 0 0 20px -5px var(--color-4);
}

.form-register {
    text-align: center;
    letter-spacing: 1px;
    font-size: 25px;
    font-weight: 700;
}

.form-register li {
    color: var(--color-1);
    list-style: none;
    text-align: center;
    margin-bottom: 5px;
}

.form-register input {
    text-align: center;
    border-style: none;
    width: 95%;
    padding: 10px;
    font-weight: 600;
    font-size:  17px;
    letter-spacing: 1px;
    margin: 10px;
    border-radius: 15px;
}

.form-register .karakter {
    list-style: none;
    text-align: center;
    color: black;
    font-size: 15px;
    font-weight: 400;
}

.register {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 9px;

}

.register-btn {
    background-color: var(--color-1);
    color: var(--color-4);
    border-style: none;
    font-weight: 700;
    font-size: 18px;
    padding: 7px 40px;
    border-radius: 15px;
    cursor: pointer;
    letter-spacing: 1px;
    margin: 0;
}

.register-btn:hover {
    background-color: var(--color-4);
    color: var(--color-1);
}

/* copyright */
.container-footer {
    width: 100%;
    text-align: center;
}

.li-co {
    font-size: 12px;
    color: var(--color-4);
    list-style: none;
}

@media screen and (min-width: 100px) and (max-width: 400px) {
    
    body {
        margin-top: -30px;
    }

    .container-header img {
        width: 50px;
    }
    
    .title {
        font-size: 15px;
    }
    
    .container-register {
        width: 300px;
        margin-top: -20px;
        margin-bottom: -20px;
    }
    
    .form-register {
        font-size: 20px;
    }
    
    .form-register input {
        font-size:  13px;
        margin: 5px;
    }
    
    .form-register .karakter {
        font-size: 11px;
    }
    
    .register-btn {
        font-size: 13px;
        padding: 5px 30px;
    }
    
    .li-co {
        font-size: 12px;
        list-style: none;
    }
}

@media screen and (min-width: 400px) and (max-width: 800px) {
    
    body {
        margin-top: -30px;
    }

    .container-header img {
        width: 50px;
    }
    
    .title {
        font-size: 15px;
    }
    
    .container-register {
        width: 380px;
        margin-top: -20px;
        margin-bottom: -20px;
    }
    
    .form-register {
        font-size: 20px;
    }
    
    .form-register input {
        font-size:  13px;
        margin: 5px;
    }
    
    .form-register .karakter {
        font-size: 11px;
    }
    
    .register-btn {
        font-size: 13px;
        padding: 5px 30px;
    }
    
    .li-co {
        font-size: 12px;
    }
}
