html, body {
    margin: 0;
    padding: 0;
    padding-top: 50px;
    padding-bottom: 10px;
    background-color: #AFF4C6;
}

.container-masuk {
    display: flex ;
    align-items: center;
    justify-content: center;
    height: 50%;
    padding: 5px;
}

.img-content {
    width: 15%;
    height: 15%;
}

.container-title {
    padding: 10px;
    text-align: center;
}
.li-title1 {
    list-style-type: none;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-size: 18px;
    color: #365F47
}

.li-title2 {
    list-style-type: none;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    color: #365F47
}

.li-title3 {
    list-style-type: none;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    color: #365F47
}

.btn {
    display: flex;
    flex-direction: column;
    align-items: center ; 
    justify-content: center;
}

.btn-masuk { 
    background-color: white ;
    color: #47745A;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    padding: 3px;
    width: 300px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}

.btn-masuk:hover {
    background-color: #5EA97E;
    color: white;
    transition-duration: .3s;
    transition-delay: .1s;
}

.container-co {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 200px;

}

.li-co {
    list-style-type: none;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-size: 12px;
    color: #365F47
}